.tabs-container {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    background: #f4f4f4;
    overflow-x: auto; 
    white-space: nowrap; 
}
  
.tab {
    padding: 8px;
    border-bottom: 1px solid white;
    margin-right: 15px;
    background-color: #f4f4f4;
    color: inherit;
    cursor: pointer;
}
  
.tab.active {
    border-bottom: 2px solid blue;
    background-color: white;
    color: black;
}
  
.responsivecard {
  text-align: center;
  background-color: white;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin: 20px;
}

.button {
  margin-top: 10px;
  padding: 10px 70px; 
  border: 1px solid #3E8EDE;
  border-radius: 6px;
  background-color: white;
  color: #3E8EDE;
}

.background {
  text-align: center;
  background: #f4f4f4;
}

.hexColor {
  text-align: left;
  padding-right: 40px;
}

@media only screen and (max-width: 1024px) {
    .tabs-container {
      flex-direction: column;
    }
  
    .tab {
      margin-right: 0;
      margin-bottom: 8px;
    }
  
    .tab.active {
      border-bottom: 1px solid white; 
    }
  
    .tab:last-child {
      margin-bottom: 0; 
    }
}

@media only screen and (max-width: 768px) {
  .tabs-container {
    flex-direction: column;
  }

  .tab {
    margin-right: 0;
    margin-bottom: 8px;
  }

  .tab.active {
    border-bottom: 1px solid white; 
  }

  .tab:last-child {
    margin-bottom: 0; 
  }
}

@media only screen and (max-width: 480px) {
  .tabs-container {
    flex-direction: column;
  }

  .tab {
    margin-right: 0;
    margin-bottom: 8px;
  }

  .tab.active {
    border-bottom: 1px solid white; 
  }

  .tab:last-child {
    margin-bottom: 0; 
  }
}