.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.popup-inner {
    border: 1px solid lightgray;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 6px;
    position: relative;
    padding: 20px;
    width: 100%;
    max-width: 640px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
  
.button-container {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
}
  
.cancel-btn,
.save-btn {
    padding: 10px 17px; 
    margin-left: 8px;
    cursor: pointer;
    border-radius: 5px;
    width: auto; 
}

.cancel-btn {
    background-color: #f8f8f8;
    border: 1px solid rgb(187, 186, 186);
    color: #444; 
}

.save-btn {
    background-color: #0a6cec;
    color: #fff;
    border: none;
}

.separator {
    border-top: 1px solid #ccc;
    width: 200%; 
    margin: 16px 0; 
}  

.content-container {
    display: flex;
    justify-content: space-between;
}
  
.text-left,
.color-right {
    flex-basis: 48%;
}

.color-right {
    margin: 30px;
    margin-right: auto;
    border-radius: 10px;
}

.color-right input[type="color"] {
    border: none;
    width: 55px;
    height: 30px;
    background-color: white;
}

.theme {
    color: #0a6cec;
    margin: 30px;
}

.hexColor {
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 1024px) {
    .separator {
        max-width: 100%; 
    }
    .popup-inner {
        max-width: 100%; 
    }
}

@media (max-width: 768px) {
    .separator {
        max-width: 100%; 
    }
    .popup-inner {
        max-width: 100%; 
    }
}

@media only screen and (max-width: 480px) {
    .separator {
        max-width: 100%; 
    }
    .cancel-btn,
    .save-btn {
        width: 100%;
        margin: 8px 0;
    }

    .popup {
        width: 80%; 
        padding: 20px; 
    }
}