.toggle-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 7px;
    border-radius: 5px;
    position: relative;
}
  
.toggle-container.open {
    background-color: #fff;
}
  
.arrow-icon {
    margin-left: auto;
    cursor: pointer;
    font-size: 20px;
    color: #2e2e2e;
    border-width: 0 1px 1px 0;
}
  
.toggle-container.open .arrow-icon {
    transform: translateY(-50%) rotate(180deg);
}  
  
.text-container {
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
}
  
.text-container p {
    margin: 0;
}
  
.text-container p:first-child {
    margin-bottom: 10px;
}
  
.second-text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}
  
.second-text.show {
    max-height: 100px; 
}
  
.second-text hr {
    width: 100%;
    margin: 10px 0; 
    border: 1px solid #ece9e9; 
}
  
.second-text .smaller-text {
    font-size: 14px;
    color: #666; 
    margin: 10px 0; 
}