.buttonPopup {
  background-color: gray;
  color: white;
  width: 10%;
  border: none;
  height: 30px;
  margin-right: 10px;
  margin-left: 30px;
}

@media (max-width: 1024px) {
  .buttonPopup {
    width: auto;
  }
}

@media (max-width: 768px) {
  .buttonPopup {
    width: auto;
  }
}

@media (max-width: 480px) {
  .buttonPopup {
    width: auto;
  }
}